@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.logo{
    z-index: 99;
    text-align: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  
  body{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }

  h1{
    font-size: 2em;
  }
  h5{
    font-size: 1em;
    padding: 0px;
    margin: 0px;
  }

  .footer-container, .footer-link{
    font-size: .8rem;
    text-align: right;
  }